#header {
    display: none;
}

#contenu #centre #right #member_shows .showItem {
    display: inline-flex;
}

#contenu #centre #right #member_shows .showItem .col-1 .title {
    min-width: 175px;
    width: auto;
}

#contenu #centre #right #member_shows .showItem .col-2 {
    display: none;
    visibility: hidden;
}

.t441.actionButton a {
    height: 20px;
}

.t411-icon {
    width: 20px;
    height: 20px;
    margin-top: -2px;
}
