#header {
    display: none;
}

#contenu #centre #right #member_shows .showItem {
    display: inline-flex;
}

#contenu #centre #right #member_shows .showItem .col-2 {
    display: none;
    visibility: hidden;
}

.t411-icon {
    width: 24px;
    height: 24px;
    vertical-align: -webkit-baseline-middle;
}